*{
    margin: 0;
    padding: 0;
}

html{
    background: #000000;
    scroll-behavior: smooth;
}

/* html,
body{
    overflow: hidden;
}  */


.webgl{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    overflow:auto;
}

.loading_bar{
 position:fixed;
 bottom: 0%;
 width:100%;
 height: 2%;
 background-color: #00504a;
 transform-origin: top left;
 transition: transform 1.5s;
 transform: scaleX(0);
 will-change: transform;
}

.loading_bar.ended{
    transform-origin: top right;
    transition: transform 0.75s ease-in-out;
    transform: scaleX(0);
}

.section
{
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
    font-family: Helvetica, sans-serif;
    color: #c0c0c0;
    text-transform: uppercase;
    font-size: 5.5vmin;
    padding-left: 10%;
    padding-right: 10%;
    /* align-content: center; */
}

/* section:nth-child(odd)
{
    justify-content: flex-end;
} */


.title {
    position: relative;
    text-align: center;
    align-items: center;
    top: -3em;
    width: 100%;
} 